.inviteg {
  display: block;
  background-color: rgba(137, 43, 226, 0.459);
  padding: 20px;
  margin: 5px;
}
.joininvite {
  padding: 5px;
  background-color: greenyellow;
  float: right;
  margin-left: 50px;
  box-shadow: 2px 2px 2px black;
}
.ignoreinvite {
  padding: 5px;
  background-color: red;
  float: right;
  box-shadow: 2px 2px 2px black;
}

.back {
  background-image: url("../images/back1.jpg");
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;
  padding-top: 2%;
  background-position: center;
  display: block;
  height: 100vh;
  width: 100vw;
}
.addmem
{
 margin-left: 20%;
 margin-top: 0px;
 margin-bottom: 10px;
}
.memdis,
.grole
{
  margin-left: 20%;
 
}