nav {
  padding: 1vw;
  border-radius: 12px;
  background-color: #090909;
}
nav a {
  border: 1px solid #3498db;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.8s;
  background: none;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  margin: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;

  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
  transition: height 0.8s, border-radius 0.8s 0.3s;
}

nav a:hover::before {
  height: 100%;
  border-radius: 0px;
}

nav button {
  background-color: blue;
  padding: 5px;
  color: aliceblue;
  font-weight: bold;
}
nav input {
  padding: 5px;
}
.namedis {
  display: inline-block;
  margin-left: 10px;
  color: aliceblue;
  float: right;
  padding: 5px;
  margin-right: 20px;
}

.loginbtn {
  float: right;
}
.formvi {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  float: right;
}
